/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 de mar. de 2025, 10:40:26
    Author     : morat
*/

body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        .container {
            width: 600px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            position: relative;
        }
        
        .close-button{
            position: absolute;
            top: 10px;
            left: 10px;
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            font-family: "Caveat", cursive;
        }

       

        .header button {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
        }

        .content {
            text-align: left;
        }

        .content p {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .options {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .options button {
            background-color: #e0f7fa;
            border: none;
            padding: 15px 20px;
            text-align: left;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
         
        }

        .options button:hover {
         background-color: #b2ebf2;
        }

        .continue-button {
            text-align: right;
            margin-top: 20px;
        }

        .continue-button button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 15px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        .continue-button button:hover {
              background-color: #007bff;
            transform: translateY(-5px);
        }
